* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

.container {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 50px;
}

@media (max-width: 1440px)
.container {
    padding: 0 20px;
}

.body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 320px;
    background-color:white;
    font-family: system-ui, -apple-system, Roboto, sans-serif; 
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
    color: #20283D;

    
}

html {
    scroll-behavior: smooth; 
}

.menu-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 140px;
}

.nav-link {
    text-decoration:none;
    color: #20283D;
    line-height: 50px;
    font-size: 18px;
    text-align: right;
    transition: .1s;
}

.nav-link:hover {
    border-bottom: 1px solid #6D82AB;
}

.menu-item {
    padding-right: 60px;
}

.profile {
    display: inline-flex;
    justify-content: space-around;
    flex-direction: row-reverse;
    width: 100%;
    
}

.profile-photo {
    width: 300px;
    height: 300px; 
    border-radius: 40px;
    margin-top: 30px;
    

}

.right-column {
    width: 65%;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.left-column {
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-title {
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    text-align: center;
}

h1 {
font-style: normal;
font-weight: 800;
font-size: 70px;
margin: 0;
padding-top: 80px;
}

.title {
font-size: 40px;
text-align: center;
color: #6D82AB;
margin: 0;
padding-top: 15px;
}

